html {
  box-sizing: border-box
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: grid;
  font-size: 24px;
  min-height: 100vh;

}

main {
  grid-column: 2/8;
  grid-row: 2/4;
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 300px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* align-items: center;
  align-content: center; */
  margin: 0 auto;
  /* border-color: #92d97c; */
}

p {
  text-align: center;
}

#status {
  font-size: 20px;
  color:darkgray;
  text-align: right;
}

#name {
  font-size: 20px;
}

#occupation {
  display: block;
  background-color: #e5e5e5;
}

#brand {
  font-size: 20;
  color: rgb(53, 52, 52);
  display: none;
}

#offer {
  background-color: #f9f871;
  display: block;
  align-items: center;
  
}

#contact {
  background-color: #f9f871;
  justify-content: space-evenly;
  
}

#phone {
  background-color: #92d97c;
}

#text {
  background-color: #3a8822;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
  /* align-content: center; */
}

@media only screen and (min-width: 1024px) {
  
  #brand {
    display: contents;
  }
}

/*
1. get image to work
2. remove border between each section 
3. make #brand invisible in mobile
4. responsive to desktop
5. different background-color between two items in contact
6. #offer #occupation items vertical center
7. Imgur image doesn't show
8. image center using flex commands
*/