html {
  box-sizing: border-box
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 100vh;
}

main {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 500px;
  width: 300px;
  font-size: 20px;
}

#image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 7.5px 0 7.5px 0;
}

#image-area img {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
  margin: 0 auto;
  border-color: #92d97c;
}

p {
  text-align: center;
}

p#ratings {
  margin-bottom: 5px;
}

p#job-title {
  margin-top: 5px;
}

p#promotion {
  margin-bottom: 5px;
}

p#quote {
  margin-top: 5px;
}


h1#name {
  text-align: center;
  font-size: 24px;
}

#occupation {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: #e5e5e5;
}

#brand {
  font-size: 20px;
  color: rgb(53, 52, 52);
  display: none;
}

#offer {
  display: block;
  align-items: center;
}

#contact {
  background-color: #f9f871;
  display: flex;
	align-items: center;
	justify-content: center;
  height: 10%
}

#contact > p {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
	align-items: center;
	justify-content: center;
}

#phone {
  background-color: #92d97c;
}

#text {
  background-color: #3a8822;
}


div#status {
  font-size: 12px;
  color:darkgray;
  text-align: right;
  justify-content: right;
  margin: 10px 10px 0 0;
}




@media only screen and (min-width: 768px) {
  
  main {
    height: 300px;
    width: 600px;
    flex-wrap: wrap;
    background-color: #e5e5e5;
  } 

  div#status {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0 0 0 0;
    height: 10%;
    width: 40%;
    order: 0;
    background-color: #ffffff;
  }

  #image-area img {
    margin: 30px 0;
    width: 150px;
    height: 150px;
  }

  
  #contact {
    width: 40%;
    height: 15%;
    order: 2;
  }

  #contact > p {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  h1#name {
    /* height: 10%; */
    order:3;
    height: 20%;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
  }

  #occupation {
    width: 60%;
    height: 20%;
    order: 4;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
  }
  
  #occupation > p {
    margin: 0;
  }


  #brand{
    width: 56%;
    display: contents;
    align-items: right;
    order: 5;
    display:flex;
    flex-wrap: wrap;
    margin: 0 0 0 10px;
    padding-left: 10px;
    border-left: 2px solid;
    border-left-color: #92d97c;
  }

  #brand > p{
    font-size: 20px;
    display: contents;
    align-items: flex-start;
    margin: 0;
  }


  #offer {
    width: 60%;
    order: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin: 0 0 5px 0;
  }

  #offer > p {
    width: 60%;
    order: 6;
    margin: 0;
    text-align: left;
    font-size: 16px;
  }


}

/*
1. get image to work
2. remove border between each section 
3. make #brand invisible in mobile
4. responsive to desktop
5. different background-color between two items in contact
6. #offer #occupation items vertical center
7. Imgur image doesn't show
8. image center using flex commands
9. why do some items have margin to begin with and others don't when they are both inside Body and Main
10. border color for image.
11. contact section with margin top and bottom. vertical center the icons. 
12. text changes size relative to the screen size.

13. group all flex elements (eliminate redundant flex commands)
14. text-align can be replaced by other align commands?
15. are justify and align-items reversed with flex directions?
16. gray color for right column
*/